<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/create_avatar.css" />
  </head>
  <body>
    <div class="create-avatar">
      <div class="div">
        <div class="next-step-informing">
          <div class="overlap-group">
            <button class="button">
              <img class="arrow" src="static/img/create_avatar/arrow.png" />
              <div class="virtual-try-on">VIRTUAL TRY-ON</div>
            </button>
            <p class="want-to-see-lifelike">
              WANT TO SEE LIFELIKE PHOTOS OF YOUR VIRTUAL TRY-ONS?</br>
              LET’S MOVE ON TO THE NEXT STEP!
            </p>
          </div>
        </div>
        <img class="avatar-img" src="static/img/create_avatar/avatar-img.png" />

        <div class="forn">
          <form action="/create-avatar" method="post">
            <button class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="text-wrapper">CREATE AVATAR</div>
                <img class="img" src="static/img/create_avatar/arrow-1.png" />
              </div>
            </button>

            <div class="comment">
              <div class="overlap">
                <label for="comment" class="text-wrapper-2"></label>
                <input class="custom-input2" type="text" id="comment" name="comment" placeholder="Comment" />
              </div>
            </div>
            
            <div class="gender">
              <div class="div-wrapper">
                <label for="gender" class="text-wrapper-2"></label>
                <select class="custom-select" id="gender" name="gender" >
                  <option value="" disabled selected hidden>Select Gender</option>
                  <option value="woman">Woman</option>
                  <option value="man">Man</option>
                </select>
              </div>
            </div>
            
            <div class="weight-ex">
              <div class="div-wrapper">
                <label for="weight" class="text-wrapper-2"></label>
                <input class="custom-input1" type="text" id="weight" name="weight" required placeholder="ex) 50" />
              </div>
            </div>
            
            <div class="height-ex">
              <div class="div-wrapper">
                <label for="weight" class="text-wrapper-2"></label>
                <input class="custom-input1" type="text" id="height" name="height" required placeholder="ex) 160" />
              </div>
            </div>
          </form>
        </div>

        <div class="weight">| Weight</div>
        <div class="height">| Height</div>
        <div class="gender-2">| Gender</div>
        <div class="contacts">
          <img class="line" src="static/img/create_avatar/line.svg" />
          <div class="contact">
            <div class="text-wrapper-3">CREATE AVATAR</div>
            <div class="virtual-try-on-2">VIRTUAL TRY ON</div>
            <div class="closet">CLOSET</div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="headline">
            <div class="overlap-3">
              <div class="create-your-own">CREATE YOUR OWN AVATAR</div>
              <p class="create-a-lifelike">Create a lifelike avatar by entering your height and weight!</p>
            </div>
          </div>
          <div class="logo">
            <div class="hedear">
              <div class="overlap-4">
                <img class="bg" src="static/img/create_avatar/bg-7.svg" />
                <div class="dressmyfit-wrapper">
                  <div class="dressmyfit"><div class="dress-my-fit">DressMyFit</div></div>
                </div>
                <img class="arrow-2" src="static/img/create_avatar/arrow-2.svg" />
                <div class="gender-3">
                  <div class="text-wrapper-3">WOMAN</div>
                  <div class="man">MAN</div>
                  <div class="kids">KIDS</div>
                </div>
                <div class="profile-wishlist">
                  <div class="profile">
                    <img class="path" src="static/img/create_avatar/path-3.svg" /> <img class="path-2" src="static/img/create_avatar/path-4.svg" />
                  </div>
                  <div class="wishlist">
                    <div class="overlap-5">
                      <img class="icon" src="static/img/create_avatar/icon.svg" />
                      <div class="element">
                        <div class="overlap-group-3">
                          <img class="ellipse" src="static/img/create_avatar/ellipse-3.svg" />
                          <div class="text-wrapper-4">8</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <img class="arrow-3" src="static/img/create_avatar/arrow-3.svg" />
                </div>
                <div class="bag">
                  <div class="overlap-6">
                    <img class="bg-2" src="static/img/create_avatar/bg-8.svg" />
                    <div class="overlap-wrapper">
                      <div class="overlap-5">
                        <div class="icon-2"></div>
                        <div class="element-2">
                          <div class="overlap-group-4">
                            <img class="ellipse-2" src="static/img/create_avatar/ellipse-4.svg" />
                            <div class="text-wrapper-4">3</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar">
                  <div class="NEWS-sales">NEWS&amp;SALES</div>
                  <div class="clothing">CLOTHING</div>
                  <div class="shoes">SHOES</div>
                  <div class="accessories">ACCESSORIES</div>
                  <div class="bags">BAGS</div>
                  <div class="jewelry">JEWELRY</div>
                  <div class="brands">BRANDS</div>
                  <div class="virtual-try-on-3">VIRTUAL TRY-ON</div>
                  <img class="arrow-4" src="static/img/create_avatar/arrow-5.svg" />
                  <img class="arrow-5" src="static/img/create_avatar/arrow-5.svg" />
                </div>
                <div class="search">
                  <div class="icon-3"></div>
                  <input class="input" placeholder="Search" type="text" />
                </div>
                <div class="infor-currency">
                  <div class="info">
                    <div class="text-wrapper-5">INFO</div>
                    <img class="path-3" src="static/img/create_avatar/path-442-1.svg" />
                  </div>
                  <div class="currency">
                    <img class="path-4" src="static/img/create_avatar/path-442-1.svg" />
                    <div class="text-wrapper-6">USD</div>
                  </div>
                  <img class="arrow-6" src="static/img/create_avatar/arrow-6.svg" />
                </div>
                <img class="sale-banner" src="static/img/create_avatar/sale-banner.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="results">RESULTS »</div>
        <img class="line-2" src="static/img/create_avatar/line-1.svg" />
      </div>
    </div>
  </body>
</html>
