<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="main-page">
      <div class="main-page-v">
        <div class="overlap">
          <img class="background" src="static/img/main/background.svg" />
          <div class="sport-categories">
            <div class="overlap-group">
              <img class="bg" src="static/img/main/bg.svg" />
              <img class="line" src="static/img/main/line.svg" />
              <div class="element">
                <img class="photo" src="static/img/main/photo.png" />
                <div class="info">
                  <div class="price"><div class="text-wrapper">18$</div></div>
                  <img class="color" src="static/img/main/color.png" />
                  <img class="img" src="static/img/main/arrow-16.svg" />
                  <div class="size"><div class="div">All</div></div>
                  <div class="overlap-group-2">
                    <div class="text-wrapper-2">LABELLAMAFIA</div>
                    <div class="text-wrapper-3">Sports bra</div>
                  </div>
                </div>
              </div>
              <div class="element-2">
                <img class="photo" src="static/img/main/photo-1.png" />
                <div class="info">
                  <div class="div-wrapper"><div class="text-wrapper">39$</div></div>
                  <img class="color" src="static/img/main/color-1.png" />
                  <img class="img" src="static/img/main/arrow-16.svg" />
                  <div class="size"><div class="div">All</div></div>
                  <div class="text-wrapper-2">MANGO — SPORTY</div>
                  <div class="text-wrapper-4">Shorts</div>
                </div>
              </div>
              <div class="element-3">
                <img class="photo" src="static/img/main/photo-2.png" />
                <div class="info">
                  <div class="price-2">
                    <div class="text-wrapper-5">199$</div>
                    <div class="overlap-group-wrapper">
                      <div class="overlap-group-3">
                        <div class="text-wrapper-6">229$</div>
                        <img class="line-2" src="static/img/main/line-37-1.svg" />
                      </div>
                    </div>
                  </div>
                  <img class="color" src="static/img/main/color-2.png" />
                  <img class="img" src="static/img/main/arrow-16.svg" />
                  <div class="size"><div class="div">All</div></div>
                  <div class="text-wrapper-2">MANGO — BRISA</div>
                  <div class="text-wrapper-4">Shirt</div>
                </div>
              </div>
              <div class="element-4">
                <img class="photo" src="static/img/main/photo-3.png" />
                <div class="info-2">
                  <div class="price-3"><div class="text-wrapper-7">229$</div></div>
                  <img class="color" src="static/img/main/color-3.png" />
                  <img class="img" src="static/img/main/arrow-16.svg" />
                  <div class="size-2">
                    <div class="div">38</div>
                    <div class="text-wrapper-8">39</div>
                    <div class="text-wrapper-9">40</div>
                  </div>
                  <div class="overlap-group-4">
                    <p class="text-wrapper-2">REEBOK — ZIG KINETICA II</p>
                    <div class="text-wrapper-3">Shoes</div>
                  </div>
                </div>
              </div>
              <div class="headline-photo">
                <img class="photo-2" src="static/img/main/photo-4.png" />
                <p class="create-your-avatar">
                  &#34;Create your avatar, see the perfect fit – tailored to your size!&#34;
                </p>
                <button class="button">
                  <div class="overlap-group-5">
                    <div class="dress-now">DRESS NOW</div>
                    <img class="arrow" src="static/img/main/arrow.png" />
                  </div>
                </button>
                <div class="headline">
                  <div class="overlap-2">
                    <div class="dress">DRESS</div>
                    <div class="h">
                      <div class="overlap-3">
                        <div class="own-avatar">
                          <div class="overlap-group-6">
                            <img class="underline" src="static/img/main/underline.svg" />
                            <div class="text-wrapper-10">OWN AVATAR !</div>
                          </div>
                        </div>
                        <div class="your">
                          <div class="overlap-group-7">
                            <img class="underline-2" src="static/img/main/underline-1.svg" />
                            <div class="text-wrapper-10">YOUR</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-product">
            <div class="overlap-4">
              <div class="element-5">
                <img class="img-2" src="static/img/main/photo-5.png" />
                <div class="info-3">
                  <div class="overlap-group-8">
                    <div class="text-wrapper-2">MARCIANO GUESS</div>
                    <div class="text-wrapper-3">Pants</div>
                  </div>
                  <div class="price-4">
                    <div class="text-wrapper-11">199$</div>
                    <div class="div-2">
                      <div class="text-wrapper-6">399$</div>
                      <img class="line-3" src="static/img/main/line-37.png" />
                    </div>
                  </div>
                  <div class="color-size">
                    <img class="color-2" src="static/img/main/color-4.png" />
                    <div class="size-3">
                      <div class="group"><div class="div">S</div></div>
                      <div class="group-2"><div class="div">M</div></div>
                    </div>
                    <img class="line-4" src="static/img/main/arrow-16.svg" />
                  </div>
                </div>
              </div>
              <div class="element-6">
                <img class="photo" src="static/img/main/photo-6.png" />
                <div class="info">
                  <div class="overlap-5">
                    <div class="text-wrapper-2">BARDOT</div>
                    <div class="text-wrapper-3">Blouse</div>
                  </div>
                  <div class="price-2">
                    <div class="text-wrapper-5">199$</div>
                    <div class="overlap-group-wrapper">
                      <div class="overlap-group-3">
                        <div class="text-wrapper-6">229$</div>
                        <img class="line-2" src="static/img/main/line-37-1.svg" />
                      </div>
                    </div>
                  </div>
                  <div class="color-size">
                    <img class="color-2" src="static/img/main/color-5.png" />
                    <div class="size-3">
                      <div class="group"><div class="div">S</div></div>
                      <div class="group-2"><div class="div">M</div></div>
                    </div>
                    <img class="line-4" src="static/img/main/arrow-16.svg" />
                  </div>
                </div>
              </div>
              <img class="img-3" src="static/img/main/next-arrow-dark-bg.png" />
            </div>
            <div class="element-7">
              <img class="photo" src="static/img/main/photo-7.png" />
              <div class="info">
                <div class="price-5"><div class="text-wrapper">79$</div></div>
                <img class="img-4" src="static/img/main/color-6.png" />
                <img class="img-5" src="static/img/main/arrow-16.svg" />
                <div class="size-4"><div class="div">All</div></div>
                <div class="overlap-group-9">
                  <div class="text-wrapper-2">MANGO</div>
                  <div class="text-wrapper-3">Leather sandals ITALIA</div>
                </div>
              </div>
            </div>
            <div class="element-8">
              <img class="photo" src="static/img/main/photo-8.png" />
              <div class="info-4">
                <div class="price-6"><div class="text-wrapper-7">289$</div></div>
                <img class="color" src="static/img/main/color-7.png" />
                <img class="img" src="static/img/main/arrow-16.svg" />
                <div class="size"><div class="div">All</div></div>
                <div class="overlap-group-10">
                  <div class="text-wrapper-2">MISS SIXTY</div>
                  <div class="text-wrapper-3">Dress</div>
                </div>
              </div>
            </div>
            <div class="element-9">
              <img class="photo" src="static/img/main/photo-9.png" />
              <div class="info-4">
                <div class="price-7"><div class="text-wrapper-7">230$</div></div>
                <img class="img-4" src="static/img/main/color-8.png" />
                <img class="img-5" src="static/img/main/arrow-16.svg" />
                <div class="size-4"><div class="div">All</div></div>
                <div class="overlap-group-11">
                  <div class="text-wrapper-2">SAMSOE SAMSOE</div>
                  <div class="text-wrapper-3">Dress</div>
                </div>
              </div>
            </div>
          </div>
          <div class="video-block">
            <div class="overlap-6">
              <div class="long-button-light-bg">
                <div class="overlap-group-12">
                  <img class="arrow-2" src="static/img/main/arrow-2.png" />
                  <div class="view-all-collections">VIEW ALL COLLECTIONS</div>
                </div>
              </div>
              <div class="headline-text">
                <p class="everything-you-need">Everything you need to get togetherfor a summer party</p>
                <div class="overlap-wrapper">
                  <div class="overlap-7">
                    <div class="summer-pop-up-store">SUMMER POP-UP STORE</div>
                    <div class="party">
                      <div class="overlap-group-13">
                        <div class="party-2">PARTY</div>
                        <img class="underline-3" src="static/img/main/underline-2.svg" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="play-button" src="static/img/main/play-button.png" />
            </div>
          </div>
          <div class="categories-dress">
            <img class="element-10" src="static/img/main/5.png" />
            <img class="element-11" src="static/img/main/4.png" />
            <div class="show-all">
              <div class="overlap-group-14">
                <div class="botutton-without-bg">
                  <div class="text-wrapper-12">SHOP NOW</div>
                  <img class="arrow-3" src="static/img/main/arrow-3.png" />
                </div>
                <div class="show-all-dresses">SHOW ALLDRESSES</div>
              </div>
            </div>
            <div class="element-12">
              <img class="photo" src="static/img/main/photo-10.png" />
              <div class="info-2">
                <div class="price-8"><div class="text-wrapper-7">39$</div></div>
                <img class="size-5" src="static/img/main/size.png" />
                <img class="arrow-4" src="static/img/main/arrow-16.svg" />
                <div class="color-3"><div class="div">All</div></div>
                <div class="overlap-group-15">
                  <div class="text-wrapper-2">BALMAIN</div>
                  <div class="text-wrapper-3">Glasses</div>
                </div>
              </div>
            </div>
            <div class="element-13">
              <img class="photo" src="static/img/main/photo-11.png" />
              <div class="info-5">
                <div class="price-9"><div class="text-wrapper">89$</div></div>
                <img class="img-6" src="static/img/main/size-1.png" />
                <img class="img-7" src="static/img/main/arrow-16.svg" />
                <div class="color-4">
                  <div class="text-wrapper-13">S</div>
                  <div class="div">XS</div>
                  <div class="text-wrapper-14">M</div>
                </div>
                <div class="overlap-group-16">
                  <div class="text-wrapper-2">VERO MODA</div>
                  <div class="text-wrapper-3">Dress</div>
                </div>
              </div>
            </div>
            <div class="element-14">
              <img class="photo" src="static/img/main/photo-12.png" />
              <div class="info">
                <div class="div-wrapper"><div class="text-wrapper">40$</div></div>
                <img class="img-4" src="static/img/main/size-2.png" />
                <img class="img-5" src="static/img/main/arrow-16.svg" />
                <div class="color-5">
                  <div class="text-wrapper-13">S</div>
                  <div class="div">XS</div>
                  <div class="text-wrapper-14">M</div>
                </div>
                <div class="overlap-group-17">
                  <div class="text-wrapper-2">MEDICINE</div>
                  <div class="text-wrapper-3">Essential dress</div>
                </div>
              </div>
            </div>
            <div class="headline-2">
              <div class="button-bg-light">
                <div class="overlap-group-18">
                  <div class="text-wrapper-15">SHOP NOW</div>
                  <img class="arrow-5" src="static/img/main/arrow-12.png" />
                </div>
              </div>
              <div class="dress-2">DRESS</div>
            </div>
          </div>
          <img class="line-5" src="static/img/main/line-4.svg" />
          <div class="top-collections">
            <div class="collection">
              <div class="overlap-group-19">
                <button class="button-2">
                  <div class="look">LOOK</div>
                  <img class="arrow-6" src="static/img/main/arrow-9.png" />
                </button>
                <div class="girl-in-white">GIRL IN WHITE</div>
                <div class="text-wrapper-16">Fresh total look</div>
              </div>
            </div>
            <div class="collectin">
              <div class="overlap-8">
                <button class="button-2">
                  <div class="look">LOOK</div>
                  <img class="arrow-6" src="static/img/main/arrow-9.png" />
                </button>
                <div class="style-to-the-maximum">STYLE TO THEMAXIMUM</div>
                <p class="text-wrapper-16">In a bright maxi dress</p>
              </div>
            </div>
            <button class="button-3">
              <div class="overlap-9">
                <img class="arrow-2" src="static/img/main/arrow-12.png" />
                <div class="text-wrapper-15">VIEW ALL COLLECTIONS</div>
              </div>
            </button>
            <div class="pull-bear">
              <div class="text-wrapper-17">Cotton shirt</div>
              <div class="text-wrapper-18">Jacket</div>
              <div class="text-wrapper-19">Jeans</div>
              <div class="text-wrapper-20">Shoes</div>
              <div class="pull-bear-2">
                <div class="text-wrapper-12">Pull&amp;Bear</div>
                <div class="price-10">
                  <div class="overlap-group-20"><div class="text-wrapper-21">~239$</div></div>
                </div>
              </div>
            </div>
            <img class="arrow-7" src="static/img/main/arrow-11.svg" />
            <div class="zara">
              <div class="text-wrapper-17">Dress</div>
              <div class="text-wrapper-22">Shoes</div>
              <div class="text-wrapper-23">Glasses</div>
              <div class="zara-2">
                <div class="text-wrapper-24">Zara</div>
                <div class="price-11">
                  <div class="overlap-group-21"><div class="text-wrapper-21">~199$</div></div>
                </div>
              </div>
            </div>
            <div class="h-2">
              <div class="overlap-10">
                <div class="ideas-for-stylish">
                  IDEAS FOR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; STYLISHFUN
                </div>
                <div class="pool">
                  <div class="overlap-group-7">
                    <div class="text-wrapper-25">POOL</div>
                    <img class="underline-2" src="static/img/main/underline-3.svg" />
                  </div>
                </div>
                <div class="party-3">
                  <div class="overlap-group-13">
                    <div class="text-wrapper-25">PARTY</div>
                    <img class="underline-3" src="static/img/main/underline-4.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="line-6" src="static/img/main/line-4.svg" />
          <div class="top-product-2">
            <div class="overlap-11">
              <div class="element-15">
                <img class="img-2" src="static/img/main/bg-8.png" />
                <div class="info-6">
                  <div class="price-12">
                    <div class="text-wrapper-11">199$</div>
                    <div class="div-2">
                      <div class="text-wrapper-6">399$</div>
                      <img class="line-7" src="static/img/main/line-5.png" />
                    </div>
                  </div>
                  <img class="color" src="static/img/main/color-9.png" />
                  <div class="overlap-group-22">
                    <div class="text-wrapper-2">LIVIANA CONTI</div>
                    <div class="text-wrapper-3">Handbag</div>
                  </div>
                </div>
              </div>
              <div class="element-16">
                <img class="photo" src="static/img/main/photo-15.png" />
                <div class="info-6">
                  <div class="price-13">
                    <div class="text-wrapper-26">310$</div>
                    <div class="div-2">
                      <div class="overlap-group-23">
                        <div class="text-wrapper-6">449$</div>
                        <img class="line-8" src="static/img/main/line-6.svg" />
                      </div>
                    </div>
                  </div>
                  <img class="color" src="static/img/main/color-10.png" />
                  <img class="img" src="static/img/main/arrow-16.svg" />
                  <div class="size-6">
                    <div class="div">S</div>
                    <div class="text-wrapper-27">M</div>
                  </div>
                  <div class="overlap-12">
                    <div class="text-wrapper-2">BEATRICE B</div>
                    <div class="text-wrapper-3">Jacket</div>
                  </div>
                </div>
              </div>
              <img class="img-3" src="static/img/main/next-arrow-dark-bg.png" />
            </div>
            <div class="element-17">
              <img class="photo" src="static/img/main/photo-16.png" />
              <div class="info-6">
                <div class="price-14">
                  <div class="text-wrapper-28">134$</div>
                  <div class="group-3">
                    <div class="overlap-group-24">
                      <div class="text-wrapper-6">210$</div>
                      <img class="line-9" src="static/img/main/line-37-4.svg" />
                    </div>
                  </div>
                </div>
                <img class="color" src="static/img/main/color-11.png" />
                <div class="overlap-13">
                  <div class="text-wrapper-2">BALMAIN</div>
                  <div class="text-wrapper-3">Glasses</div>
                </div>
              </div>
            </div>
            <div class="element-hover">
              <div class="overlap-14">
                <div class="overlap-15">
                  <div class="add-to-cart">
                    <div class="element-bag"></div>
                    <div class="text-wrapper-29">ADD</div>
                  </div>
                  <img class="add-to-wishlist" src="static/img/main/add-to-wishlist.svg" />
                </div>
                <div class="info-7">
                  <div class="price-15">
                    <div class="text-wrapper-11">199$</div>
                    <div class="div-2">
                      <div class="overlap-group-23">
                        <div class="text-wrapper-6">399$</div>
                        <img class="line-10" src="static/img/main/line-37-3.svg" />
                      </div>
                    </div>
                  </div>
                  <img class="img-6" src="static/img/main/color-12.png" />
                  <img class="img-7" src="static/img/main/arrow-16.svg" />
                  <div class="size-7"><div class="text-wrapper-30">All</div></div>
                  <div class="overlap-16">
                    <div class="text-wrapper-2">POLO RALPH LAUREN</div>
                    <div class="text-wrapper-3">Cotton shirt</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="element-18">
              <img class="photo" src="static/img/main/photo-18.png" />
              <div class="info-8">
                <div class="price-16">
                  <div class="text-wrapper-28">99$</div>
                  <div class="old-price">
                    <div class="overlap-group-25">
                      <div class="text-wrapper-6">149$</div>
                      <img class="line-9" src="static/img/main/line-37-4.svg" />
                    </div>
                  </div>
                </div>
                <div class="size-4"><div class="div">All</div></div>
                <img class="img-5" src="static/img/main/arrow-16.svg" />
                <img class="img-4" src="static/img/main/color-13.png" />
                <div class="overlap-16">
                  <div class="text-wrapper-2">POLO RALPH LAUREN</div>
                  <div class="text-wrapper-3">Cotton shirt</div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-by-brand">
            <div class="logos">
              <div class="overlap-17">
                <img class="adidas" src="static/img/main/adidas-7.svg" />
                <img class="asos" src="static/img/main/asos-1.svg" />
                <img class="bershka" src="static/img/main/bershka-1.svg" />
                <img class="levi-s" src="static/img/main/levi-s.svg" />
                <img class="nike" src="static/img/main/nike-4.png" />
                <img class="pull-bear-3" src="static/img/main/pull-bear-2.svg" />
                <div class="zara-3">
                  <div class="div-3">
                    <img class="path" src="static/img/main/path-475.svg" />
                    <div class="div-3">
                      <img class="path-2" src="static/img/main/path-476.png" /> <img class="path-3" src="static/img/main/path-477.svg" />
                    </div>
                  </div>
                  <img class="path-4" src="static/img/main/path-478.svg" />
                  <img class="path-5" src="static/img/main/path-479.svg" />
                </div>
              </div>
            </div>
            <div class="more">
              <div class="text-wrapper-31">+19</div>
              <img class="line-11" src="static/img/main/line-10.svg" />
            </div>
          </div>
          <div class="top-section">
            <div class="overlap-18">
              <img class="bg-2" src="static/img/main/bg-10.png" />
              <div class="button-dark-bg">
                <div class="overlap-group-26">
                  <div class="text-wrapper-15">SHOP NOW</div>
                  <img class="arrow" src="static/img/main/arrow-12.png" />
                </div>
              </div>
              <p class="pull-bear-h-m-zara">
                Pull&amp;Bear, H&amp;M, Zara, Bershka, New Yorker,Reserved, Colin’s, Asos
              </p>
              <div class="h-3">
                <div class="overlap-19">
                  <div class="summer-women-s">SUMMER WOMEN’S</div>
                  <div class="BRAND-jeans">
                    <div class="overlap-group-27">
                      <div class="BRAND-jeans-2">BRAND JEANS</div>
                      <img class="underline-4" src="static/img/main/underline-5.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <img class="photo-3" src="static/img/main/photo-19.png" />
            </div>
          </div>
          <div class="hedear">
            <div class="overlap-20">
              <img class="bg-3" src="static/img/main/bg-11.svg" />
              <div class="logo">
                <div class="dressmyfit"><div class="dress-my-fit">DressMyFit</div></div>
              </div>
              <img class="arrow-8" src="static/img/main/arrow-13.svg" />
              <div class="gender">
                <div class="text-wrapper-12">WOMAN</div>
                <div class="man">MAN</div>
                <div class="kids">KIDS</div>
              </div>
              <div class="profile-wishlist">
                <div class="profile">
                  <img class="path-6" src="static/img/main/path-3.svg" /> <img class="path-7" src="static/img/main/path-4.svg" />
                </div>
                <div class="wishlist">
                  <div class="overlap-21">
                    <img class="icon" src="static/img/main/icon.svg" />
                    <div class="element-19">
                      <div class="overlap-group-28">
                        <img class="ellipse" src="static/img/main/ellipse-3.svg" />
                        <div class="text-wrapper-32">8</div>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="arrow-9" src="static/img/main/arrow-14.svg" />
              </div>
              <div class="bag">
                <div class="overlap-22">
                  <img class="bg-4" src="static/img/main/bg-12.svg" />
                  <div class="icon-2">
                    <div class="overlap-21">
                      <div class="icon-3"></div>
                      <div class="element-20">
                        <div class="overlap-group-29">
                          <img class="ellipse-2" src="static/img/main/ellipse-4.svg" />
                          <div class="text-wrapper-32">3</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="navbar">
                <div class="NEWS-sales">NEWS&amp;SALES</div>
                <div class="clothing">CLOTHING</div>
                <div class="shoes">SHOES</div>
                <div class="accessories">ACCESSORIES</div>
                <div class="bags">BAGS</div>
                <div class="jewelry">JEWELRY</div>
                <div class="brands">BRANDS</div>
                <a href="/create-avatar" class="virtual-try-on">VIRTUAL TRY-ON</a>
                <img class="arrow-10" src="static/img/main/arrow-16.svg" />
                <img class="arrow-11" src="static/img/main/arrow-16.svg" />
              </div>
              <div class="search">
                <div class="icon-4"></div>
                <input class="input" placeholder="Search" type="text" />
              </div>
              <div class="infor-currency">
                <div class="info-9">
                  <div class="text-wrapper-33">INFO</div>
                  <img class="path-8" src="static/img/main/path-442-1.svg" />
                </div>
                <div class="currency">
                  <img class="path-9" src="static/img/main/path-442-1.svg" />
                  <div class="text-wrapper-34">USD</div>
                </div>
                <img class="arrow-12" src="static/img/main/arrow-17.svg" />
              </div>
              <img class="sale-banner" src="static/img/main/sale-banner.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
